CoreDataDemo.xcodeproj/project.xcworkspace
CoreDataDemo.xcodeproj/xcuserdata
CoreDataDemo.xcworkspace
CoreDataDemo.xcworkspace/contents.xcworkspacedata
CoreDataDemo.xcworkspace/xcuserdata
Pods
*.DS_Store
.DS_Store
Podfile.lock